.CategoriesPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
    margin-top: 10px;
}

.categories{
    width: calc( (100% - 120px) /4 );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid darkorange;
}

.categories p{
    font-size: 30px;
}

h1{
    margin-top: 150px;
    text-align: center;  
    color: darkorange;
    font-size: 60px;
}