body{
    background-color: aliceblue;
}


.signunPage,
.signinPage,
.cartPage,
.productsPage{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}